@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: white;
}

@import "../styles/home.scss";

:root {
  background: black;
  color: white;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     background: black;
//     color: white;
//   }
// }

// body {
//   color: black;
  
//   background: linear-gradient(
//       to bottom,
//       transparent,
//       rgb(var(--background-end-rgb))
//     )
//     rgb(var(--background-start-rgb));
// }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #353535;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
